dist/
node_modules/
backend/node_modules/
testing/

.idea
.vs

npm-error.log

*.sublime-workspace
*.sublime-project

prisma/migrations

# files to edit soon
src/user/editProfile.ts
src/user/main.ts
src/utils/isHighScore.ts